@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-in;
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .2s ease-in;

}
 
html{
    font-size: 80%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
} 

.header{
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow:0 .5rem 1.5rem 0 rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c20000;
}

.header .logo{
    font-size: 1.5rem;
    color:#ffffff;
}

.header .navbar a{
    font-size: 1.2rem;
    color: #ffffff;
    margin-left: 2rem;
} 

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-top: 6px solid red ;
    width: 345px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 13px;
    margin-left: 3rem;
    height: 370px;
    cursor: pointer;
}

.card:hover{
    background: #c20000;
    color: #fff;
}

.card a:hover{
    background: #c20000;
    color: #fff;
}

.card h2{
    font-size: 20px;
    margin: 0;
    margin-bottom: 0;
    color: rgb(204, 204, 204);
}

.card p{
    font-size: 20px;
    margin: 0;
} 


.card img{
    background-size: cover; 
    margin: 0;
    height: 200px;
    width: 325px;
} 

.contato .image{
    
}

.contato .content{
    flex: 1 1 45rem;  
}

.contato .content h3{
    font-size: 4.5rem;
    line-height: 1.8;
}

.contato .content p{
    font-size: 1.7rem;
    line-height: 1.8;
    padding: 1rem 0;    
}

@media (max-width:991px){
    
    html{
        font-size: 55%;
        flex-direction: column;

    }

    .header{
        padding: 2rem;
        flex-direction: column;

    }
    .card {
        flex-direction: column;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
        flex-direction: column;

    }
    .card {
        flex-direction: column;
    }

}





